.task-wrapper {
  height: 100vh;
  max-height: 100vh;
  border-left: 2px solid #bababa;
}
.task-header {
  height: 60px;
  text-align: center;
  padding: 2.5px;
  border-bottom: 1px solid #bababa;
}
.task-title {
  font-size: 30px;
  display: block;
  font-weight: bold;
  line-height: 60px;
}
.task-body {
  padding: 5px 10px;
}
